* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  
}
body {
  font-size: 1.6rem;
}

.div {
  display: grid;
  height: 15rem;
  width: 85%;
  margin: 2rem auto;
  place-items: center;
  border: 1px solid black;
  
}

